*.suo
*.sln
*.sdf
*.ipch
*.user
*.filters
*.vcxproj
*.tlog
*.manifest
*.lastbuildstate
*.cache
*.obj
*.pdb
*.idb
*.ilk
*.exe
*.log
*.opensdf
*.unsuccessfulbuild
*.31554
*.uvopt
*.uvproj
*.main.lst
*.project.m51
*.htm
*.hex
*.lnp
*.lst
*.m51
*.A51
*/Listings
*/Objects
*/project
Test/
HOMEWORK/
EXAM/